header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    width: 80%;
    margin: auto;

    #logo {
        width: 50px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 10px;

            a {
                color: black;
                text-decoration: none;
                padding-bottom: 40px;

                &:hover {
                    color: #0282f9;
                    border-bottom: 5px solid #0282f9;
                }
            }
        }
    }
}
